h1, h2, h3, h4 {
  color: lightblue;  /* first colorsheet : #F7B733*/
}

.panels {
			background-color: #302e25; /* first colorsheet : #003366*/
		}

.layerTitle {
			color: cadetblue; /* first colorsheet : #darkorange*/
		} 

p {
	color:white;   
}

strong *{
			color: yellow;   /*cadetblue*/
		}

html *{
   			
   			font-family: Verdana !important;
		}


		#mapid {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;

		}

		.panels {
			background-color: #302e25; /*Andrea's: #003366*/
		}

		#panel {
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: 30%;
			top: 15px;
			right: 15px;
			height: 92%;
			opacity: 0.85;
			border: 2px;
			border-color: #F7B733;
			z-index: 99;	
			border-radius: 25px;
			box-shadow: none;
			position: absolute;
			z-index: 500;
			overflow: scroll;
			position: absolute;
			right: 15px;
		}

		.layerChecks {
			opacity: 1;
			color: #DFDCE3;
		}


		.button {
			border-radius: 8px;
		    margin: 1vh;
		    display: inline
		}



		.LULCpanel {
			position: absolute;
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: 100px;
			height: 500px;
			color: #DFDCE3;
			z-index: 99;
			border-radius: 25px;
			opacity: 0.85;

		}


		#LULCPanel3 {
			top: 15px;
			right: 375px;
			position: absolute;

		}


		#LULCPanel2 {
			top: 15px;
			right: 530px;
			position: absolute;

		}

		#LULCPanel1 {
			top: 15px;
			right: 685px;
			position: absolute;

		}

		.AboutPanel {
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: 500px;
			height: 500px;
			color: #DFDCE3;
			z-index: 100;
			top: 15px;
			right: 375px;
			position: absolute;
			border-radius: 25px;
			opacity: 0.85;

		}


		.exitButton {
			background-color: #994000;
			float: right;
		}

		.close {
			display: none;
		}

		.LULCclose{
			display: none;
		}

		#LULCclose{
			display: none;
		}

		#interactiveLegend{
			display: inline-block;
			float: left;
			padding: 1.5%;
			width: 250px;
			height: auto;
			max-height: 500px;
			overflow: scroll;
			color: #DFDCE3;
			z-index: 98;
			bottom: 50px;
			left: 15px;
			position: absolute;
			border-radius: 25px;
			opacity: 0.85;

		}

		.panelOption{
			padding: 0.2%;
			font-size: 14px;
		}

		.leaflet-control-layers {
			z-index: 900;

		}

		.leaflet-control{
			z-index: 900;
		}

		

		

		.dataDownload {
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: auto;
			height: auto;
			color: #DFDCE3;
			z-index: 100;
			opacity: 0.85;
			top: 125px;
			right: 355px;
			position: absolute;
			border-radius: 25px;
			overflow: scroll;

		}

		.ILImage {
			border-radius: 8px;
			z-index: 500;
			opacity: 1;
		}




