		html *{
   			
   			font-family: Verdana !important;
		}

		strong *{
			color: #994000;
		}


		#mapid {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			z-index: 1;

		}


		#panel {
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: 300px;
			top: 15px;
			right: 15px;
			height: auto;
			background-color: #003366;
			opacity: 0.85;
			border: 2px;
			border-color: #F7B733;
			z-index: 99;	
			border-radius: 25px;
			box-shadow: none;
			position: absolute;
			z-index: 500;
			overflow: scroll;
			position: absolute;
			right: 15px;
		}

		.layerChecks {
			opacity: 1;
			color: #DFDCE3;
		}


		#viewerTitle{
			opacity: 1;
			color: #AF473C;
			margin-top: 8px;
			margin-bottom: 8px;
		}

		.LULCpanel {
			position: absolute;
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: 100px;
			height: 500px;
			background-color: #003366;
			color: #DFDCE3;
			z-index: 99;
			border-radius: 25px;
			opacity: 0.85;

		}


		#LULCPanel3 {
			top: 15px;
			right: 375px;
			position: absolute;

		}


		#LULCPanel2 {
			top: 15px;
			right: 530px;
			position: absolute;

		}

		#LULCPanel1 {
			top: 15px;
			right: 685px;
			position: absolute;

		}

		.AboutPanel {
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: 500px;
			height: 500px;
			background-color: #003366;
			color: #DFDCE3;
			z-index: 100;
			top: 15px;
			right: 375px;
			position: absolute;
			border-radius: 25px;
			opacity: 0.85;

		}


		.exitButton {
			background-color: #994000;
			float: right;
		}

		.close {
			display: none;
		}

		.LULCclose{
			display: none;
		}

		#LULCclose{
			display: none;
		}

		#interactiveLegend{
			display: inline-block;
			float: left;
			padding: 1.5%;
			width: 250px;
			height: auto;
			max-height: 500px;
			overflow: scroll;
			background-color: #003366;
			color: #DFDCE3;
			z-index: 100;
			bottom: 50px;
			left: 15px;
			position: absolute;
			border-radius: 25px;
			opacity: 0.85;

		}

		.panelOption{
			padding: 0.2%;
		}

		.leaflet-control-layers {
			z-index: 900;

		}

		.leaflet-control{
			z-index: 900;
		}

		

		#viewerTitle {
			font-size: 38px;
			color: #F7B733;
		}

		.dataDownload {
			display: inline-block;
			float: right;
			padding: 1.5%;
			width: auto;
			height: auto;
			background-color: #003366;
			color: #DFDCE3;
			z-index: 100;
			opacity: 0.85;
			top: 125px;
			right: 355px;
			position: absolute;
			border-radius: 25px;
			overflow: scroll;

		}

		.ILImage {
			border-radius: 8px;
			z-index: 500;
			opacity: 1;
		}

		#allToursim {
			color: #994000;
		}

		#allMining {
			color: #994000;
		}

		#allAgriculture {
			color: #994000;
		}

		#allTimber {
			color: #994000;
		}

		#allEnergySites {
			color: #994000;
		}




